/* WatchlistPage 的樣式定義 */

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 400px;
  padding: 40px 20px;
}

.emptyIcon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  opacity: 0.5;
}
